@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        <td>
            <button index="0">普通的Excel导出</button>
<pre class="syntax brush-csharp">
    public ActionResult Syntaxhighlighter() {
        return new ExportExcelResult("template1", "test1");
    }
</pre>
        </td>
    </tr>
    <tr>
        <td>
            <button index="1">带参数的Excel导出</button>
        </td>
    </tr>
    <tr>
        <td>
            <button index="2">带常量的Excel导出</button>
        </td>
    </tr>
    <tr>
        <td>
            <button index="3">带动态列的Excel导出</button>
        </td>
    </tr>
    <tr>
        <td>
            <button index="4">带参数和动态列的Excel导出</button>
        </td>
    </tr>
    <tr>
        <td>
            <button index="5">带参数和常量和动态列的Excel导出</button>
        </td>
    </tr>
</table>

@section scripts{

    <link type="text/css" rel="stylesheet" href="~/Content/index.css" />
    <script src="~/Scripts/syntax/jquery.syntax.js" type="text/javascript"></script>
    <script src="~/Scripts/syntax/jquery.syntax.cache.js" type="text/javascript"></script>
    @*<script src="~/Scripts/syntax/jquery.syntax.brush.xml.js" type="text/javascript"></script>*@

    <script type="text/javascript">
        $(function () {
            jQuery.syntax();
        });
    </script>

    <script type="text/javascript">

        $(function () {

            $("button").click(function () {

                var index = $(this).attr("index");
                if (index == 0) {
                    window.location = '@Url.Action("EasyExport")';
                } else if (index == 1) {
                    window.location = '@Url.Action("EasyExportParam")';
                } else if (index == 2) {
                    window.location = '@Url.Action("EasyExportConst")';
                } else if (index == 3) {
                    window.location = '@Url.Action("EasyExportAutoCol")';
                } else if (index == 4) {
                    window.location = '@Url.Action("EasyExportAutoColAndParam")';
                } else if (index == 5) {
                    window.location = '@Url.Action("ExportSplit")';
                }

            });

        });

    </script>
}